@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  font-family: 'Noto Sans KR', 'Malgun Gothic';
  margin: 0;
  padding: 0;
}

/* 상단부 */
header {
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(233, 228, 228);
  margin-bottom: 50px;
}


.logo img {
  height: 60px;
  width: 300px;
}


/* 채팅, 나의 채널, 장바구니, 마이페이지 */
.user-actions {
  position: flex;
  margin-right: 0%;


}

.user-actions a {
  font-size: 17px;
  color: rgb(46, 45, 45);
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}



.user-actions svg {
  width: 30px;
  height: 30px;
}

#mychannel {
  width: 27px;
  height: 27px;
}



/* 마이페이지 메뉴(장바구니/주문내역/회원정보 수정 */
.mypage_ctn {
  text-align: center;
  margin-bottom: 20px;

}


/* 주문내역 색깔 */
#ctn-select a {
  color: rgba(70, 24, 6, 0.863);
  border-bottom: 2px solid rgba(70, 24, 6, 0.863);
  font-weight: 700;
}


/* 장바구니, 회원정보수정 색깔 */
.mypage_ctn a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: gray;
  text-align: center;
  display: inline-block;
  padding: 20px;
  padding-bottom: 10px;
  margin-left: 80px;
  margin-right: 80px;
  border-bottom: 2px solid rgba(208, 204, 203, 0.863);
}

/* 결제내역 */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p,
span {
  margin: 0;
}

a {
  color: black;
}

img {
  display: block;
  width: 75%;
  height: 90px;
  margin: auto;
}

.pay {
  width: 80%;
  margin: auto;
  padding: 30px;
}

.pay ul {
  background-color: whitesmoke;
  padding: 30px;
  margin-bottom: 50px;
  border: whitesmoke solid 1px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
}

.pay ul :first-child {
  color: limegreen;
}

table {
  border-top: solid 1.5px black;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

thead {
  text-align: center;
  font-weight: bold;
}

tbody {
  font-size: 12px;
}

td {
  padding: 15px 0px;
  border-bottom: 1px solid lightgrey;
}

.pay__list__detail a{
  text-decoration: none;
  color: #212121;
}


.pay__list__detail :nth-child(3) {
  vertical-align: top;
}

.pay__list__detail :nth-child(3) a {
  font-size: 12px;
}

.pay__list__detail :nth-child(3) p {
  margin-top: 6px;
  font-weight: bold;
}


.pay__list__option {
  border-left: 2px solid whitesmoke;
  vertical-align: top;
  padding: 20px;
}

.pay__list__option p {
  margin-bottom: 25px;
  position: relative;
}

.pay__list__option p::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: lightgrey;
  left: 0px;
  top: 25px;
  position: absolute;
}

.pay__list__optionbtn {
  background-color: white;
  font-size: 10px;
  border: lightgrey solid 1px;
  padding: 7px;
}

.pay__list__detail :nth-child(4),
.pay__list__detail :nth-child(5),
.pay__list__detail :nth-child(6) {
  border-left: 2px solid whitesmoke;
}

.pay__list__detail :nth-child(5),
.pay__list__detail :nth-child(6) {
  text-align: center;
}

.pay__list__detail :nth-child(5) button {
  background-color: limegreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 12px;
  margin-top: 5px;
}

.price {
  font-weight: bold;
  margin-left: 35%;
}

.pay__mainbtns {
  width: 420px;
  height: 200px;
  padding-top: 60px;
  margin: auto;
}

.pay__mainbtns a{
  text-decoration: none;
}

.pay__bigorderbtn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  margin: auto;  
  border-radius: 5px;
}

.pay__bigorderbtn.left {
  background-color: white;
  border: 1px lightgray solid;
  margin-right: 10px;
}

.pay__bigorderbtn.right {
  background-color: rgba(70, 24, 6, 0.863);
  color: white;
  border: none;
}