@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  font-family: 'Noto Sans KR', 'Malgun Gothic';
  margin: 0;
  padding: 0;
}

/* 상단부 */
header {
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(233, 228, 228);
  margin-bottom: 50px;
}


.logo img {
  height: 60px;
  width: 300px;
}


/* 채팅, 나의 채널, 장바구니, 마이페이지 */
.user-actions {
  position: flex;
  margin-right: 0%;


}

.user-actions a {
  font-size: 17px;
  color: rgb(46, 45, 45);
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}



.user-actions svg {
  width: 30px;
  height: 30px;
}

#mychannel {
  width: 27px;
  height: 27px;
}
/* 피드 등록 게시판*/
.feed-board{
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    width: 50%;
    height: 1000px;
    margin-left: 25%;
}

/* 파일 선택 영역 */
.file-container{
    width: 90%;
    height: 20%;
    background-color: white;
    border: 1px solid rgb(233, 228, 228);
    text-align: center;
    font-size: 30px;
}

.file-container svg{
    width: 100px;
    height: 400px;
    color: rgb(204, 202, 202);
}

.file-container span{
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(204, 202, 202);
}



/* 파일 등록 버튼 */
.file-button{
    font-size: 20px;
    color: white;
    background-color: rgba(99, 94, 93, 0.863);
    border: 1px solid rgb(233, 228, 228);
    padding: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    top: 45%;
    left: 45%;
}


/* 피드 텍스트 */
.feed-text textarea {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    width: 90%;
    font-size: 20px;
    border: 1px solid rgb(233, 228, 228);
    resize: none;
    padding-top: 20px;
    padding-left: 20px;
   
}



/* 등록하기 */

button[type="submit"] {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    font-size: 20px;
    background-color: rgba(99, 94, 93, 0.863);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 35%;
    padding: 10px 40px;
    text-align: center;


}

.submit a{
    text-decoration: none;
    color: white;
}



/* 회원가입 로그인 마이페이지 */
.user-actions {
    position: relative;
    right: 0px;


}

.user-actions a {
    font-size: 17px;
    color: rgb(46, 45, 45);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.user-actions a:first-child {
    margin-right: 10px;
}

/* 피드 등록 게시판*/
.feed-board{
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    width: 50%;
    height: 1000px;
    margin-left: 25%;
}

/* 파일 선택 영역 */
.file-container{
    width: 90%;
    height: 20%;
    background-color: white;
    border: 1px solid rgb(233, 228, 228);
    text-align: center;
    font-size: 30px;
}

.file-container svg{
    width: 100px;
    height: 400px;
    color: rgb(204, 202, 202);
}

.file-container span{
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(204, 202, 202);
}



/* 파일 등록 버튼 */
.file-button{
    font-size: 20px;
    color: white;
    background-color: rgba(99, 94, 93, 0.863);
    border: 1px solid rgb(233, 228, 228);
    padding: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    top: 45%;
    left: 45%;
}


/* 피드 텍스트 */
.feed-text textarea {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    width: 90%;
    font-size: 20px;
    border: 1px solid rgb(233, 228, 228);
    resize: none;
    padding-top: 20px;
    padding-left: 20px;
   
}



/* 등록하기 */

input[type="submit"] {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    font-size: 20px;
    background-color: rgba(99, 94, 93, 0.863);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 35%;
    padding: 10px 40px;
    text-align: center;


}

.submit a{
    text-decoration: none;
    color: white;
}

