@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    margin: 0;
    padding: 0;
}

.body{
    height: 1000px;
}
.div{
    overflow: auto;
}

/* 회원가입, 로그인 */
.user{
    width: fit-content;
    margin-top: 10px;
    margin-left: 78%;
    background-color: #f8f8f8;
}

.user a{
    text-decoration: none;
    color: #212121;
    margin: 15px;
}


/* 상단부 */
header {
    font-family: 'HealthsetGothicLight', 'NotoSansKR';
    height: 100px;
    background-color: white;
    color: black;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.logo img {
    height: 60px;
    width: 300px;
    margin-left: 55%;

}

/* 검색창 */
/* Styles for wrapping the search box */

.main {
    width: 20%;
    margin: 50px auto;
    margin-left: 20%;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 13%;
}


input.form-control {
    width: 100%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control-feedback a {
    width: 1.5rem;
    height: 1.5rem;
    color: rgba(123, 43, 12, 0.863);
    
}



/* 채팅, 나의 채널, 장바구니, 마이페이지 */
.user-actions {
    position: flex;
    margin-right: 12%;


}

.user-actions a {
    font-size: 17px;
    color: rgb(46, 45, 45);
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}



.user-actions svg{
    width: 30px;
    height: 30px;
}

#mychannel{
    width: 27px;
    height: 27px;
}


/* 결제완료 컨테이너 */
.finish-container{
    margin-top: 20px;
    margin-left: 30%;
    width: 500px;
    border: 1px solid rgb(233, 228, 228);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5%;
    
}

/* 체크 아이콘 */
.finish-container svg{
    width: 90px;
    height: 90px;
    color: rgba(123, 43, 12, 0.863);
    margin: 20px;
    margin-top: 20%;
}


.finish-container p{
    font-size: 25px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10px;
}

button[type="text"]{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    margin: 10%;
    margin-top: 20%;
    font-size: 18px;
    color: white;
    background-color: rgba(123, 43, 12, 0.863) ;
    border: 1px solid rgba(123, 43, 12, 0.863);
}

