@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    margin: 0;
    padding: 0;
}

/* 상단부 */
header {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(233, 228, 228);
    margin-bottom: 50px;
}


.logo img {
    height: 60px;
    width: 300px;
}


/* 채팅, 나의 채널, 장바구니, 마이페이지 */
.user-actions {
    position: flex;
    margin-right: 0%;


}

.user-actions a {
    font-size: 17px;
    color: rgb(46, 45, 45);
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}



.user-actions svg {
    width: 30px;
    height: 30px;
}

#mychannel {
    width: 27px;
    height: 27px;
}



/* 회원가입 창 */
.signup-container {
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

/* sns 회원가입 */
.signup-container h4 {
    color: rgb(196, 192, 192);
    margin-bottom: 10px;
}

.line {
    border-top: 1px solid rgb(218, 216, 216);
    width: 230px;
    margin-left: 90px;
}

/* sns 이미지 */
.sns img {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

#google {
    width: 20px;
    height: 20px;
}

/* 일반 회원가입 버튼 */
#submit {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}



button[type="submit"] {
    font-family: 'HealthsetGothicLight', 'NotoSansKR';
    background-color: #fff;
    color: rgba(123, 43, 12, 0.863);
    font-size: 16px;
    font-weight: 600px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgba(123, 43, 12, 0.863);

}


#submit a {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    font-weight: 600;
    text-decoration: none;
}

/* 로그인 페이지 */

p {
    color: gray;
}

p a {
    color: chocolate;
}