@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
  
  body {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    margin: 0;
    padding: 0;
  }

/* 상단부 */
header {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(233, 228, 228);
    margin-bottom: 50px;
}


.logo img {
    height: 60px;
    width: 300px;
}


/* 채팅, 나의 채널, 장바구니, 마이페이지 */
.user-actions {
  position: flex;
  margin-right: 0%;


}

.user-actions a {
  font-size: 17px;
  color: rgb(46, 45, 45);
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}



.user-actions svg{
  width: 30px;
  height: 30px;
}

#mychannel{
  width: 27px;
  height: 27px;
}



/* 로그인 창 */
.login-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
  align-items: center;
  margin-bottom: 20px;
}

label {
  flex-shrink: 0;
  width: 100px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

input[type="text"],
input[type="password"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
}





/* sns 로그인 */
.login-container h4 {
  text-align: center;
  color: #aea6a6;
  margin-bottom: 10px;
}

.line {
  border-top: 1px solid rgb(218, 216, 216);
  width: 230px;
  margin-left: 90px;
}

.sns {
  text-align: center;

}

.sns img {

  width: 50px;
  height: 50px;
  padding: 10px;
}

#google {
  width: 20px;
  height: 20px;
}


/* 로그인 버튼 */
#submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

button[type="submit"] {
  font-size: 15px;
  margin-top: 20px;
  padding: 10px 40px;
}


button[type="submit"] {
  font-family: 'HealthsetGothicLight', 'NotoSansKR';
  background-color: rgba(123, 43, 12, 0.863);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}



p {
  text-align: center;
}

p a {
  color: rgba(123, 43, 12, 0.863);

}